<section class="content">
  <form action="/authenticate" method="POST">
    <div class="field">
      <label class="label">Email</label>
      <input class="input" type="text" placeholder="Enter email" name="email" />
    </div>
    <div class="field">
      <label class="label">Password</label>
      <input class="input" type="password" placeholder="Enter Password" name="password" />
    </div>
    <br />
    <div class="field is-grouped">
      <button class="button is-info is-fullwidth">Submit</button>
    </div>
  </form>
</section>