<section class="content">
  <form action="/authenticate" method="POST">
    <div class="field">
      <label class="label">Email</label>
      <input class="input" type="email" placeholder="Enter email" name="email" required />
    </div>
    <div class="field">
      <label class="label">Password</label>
      <input class="input" type="password" placeholder="Enter Password" name="password" required/>
    </div>
    <br />
    <div class="field is-grouped">
      <button class="button is-info is-fullwidth">Submit</button>
    </div>
  </form>
</section>
<section class="content">
  <div>
    <hr />
    <a class="button is-danger is-fullwidth" href="/oauth">
      <i class="fab fa-google"></i>oogle Login</a>
  </div>
</section>