<div class="tabs is-boxed is-centered is-medium">
  <ul>
    <li id="dashboard"><a href="/dashboard">Dashboard</a></li>
    <li id="report"><a href="/report">Report</a></li>
    <li id="logout"><a href="/logout">Log out</a></li>
  </ul>
</div>

<script>
  document.getElementById("{{active}}").classList.add('is-active');
</script>