<div class="tabs is-boxed is-centered is-medium">
  <ul>
    <li id="home"><a href="/">Home</a></li>
    <li id="signup"><a href="/signup">Sign up</a></li>
    <li id="login"><a href="/login">Login</a></li>
  </ul>
</div>

<script>
  document.getElementById("{{active}}").classList.add('is-active');
</script>